.play {
    background-color: #00ABD7;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    border: none;
    width: 30px;
    height: 30px;
}

.play img {
    width: 10px;
    height: 10px;
    padding-left: 2px;
    padding-bottom: 2px;
}