.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.headline {
    display: flex;
    margin-left: 0px 25px;
    width: 100%;
    height: 125px;
    background-color:#282828;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50);
    position: fixed;
}

.body {
    margin-top: 130px;
}

.logo img {
    height: 75px;
}

.logo {
    align-self: center;
    margin-right: 35px;
    margin-left: 100px
}

.page-title {
    align-self: center;
}

.title {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 3px;
}

.desc {
    color: #bbbbbb;
    font-weight: lighter;
}

footer {
    display: flex;
    height: 50px;
    background-color:#282828;
    border-radius: 20px 20px 0px 0px;
    margin-top: auto;
}

footer p {
    font-size: 10px;
    margin-right: 25px;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    color: #c7c7c7;
    align-self: center;
}

img {
    border-radius: 10px;
}
  
.playboard {
    margin-left: auto;
    align-self: center;
    margin-right: 32px;
    display: flex;
    flex-direction: row;
}

.playboard .info .track {
    color: #bbbbbb;
    margin-bottom: 4px;
}

.playboard .info .status {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 4px;
}

.playboard img {
    width: 70px;
    height: 70px;
}

.playboard .info {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    align-self: center;
}