<div class="container">
  <div class="headline">
    <div class="logo">
      <img src="../assets/logo.png">
    </div>
    <div class="page-title">
      <p class="title">Algorithms for automatic playlist continuation</p>
      <p class="desc">a simple way to get recommendations</p>
    </div>
    <div class="playboard">
      <div class="info">
        <p class="status">{{status}}</p>
        <p class="track">{{trackName}}</p>
      </div>  
      <img [src]="image" *ngIf="image != ''">
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p>©daniel.riffert</p>
  </footer>
</div>
