.container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 100%;
}

.search {
    display: flex;
    margin-bottom: 15px;
}

.search input {
    width: 100%;
    background-color: #615F5F;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    text-indent: 15px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    flex: 9;
}

.search button {
    background-color: #00ABD7;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    border: none;
    margin-left: 5px;
    flex: 1;
}