<div class="container">
    <div class="top">
        <p>Tracks of <span>{{playlist.name}}</span></p>
        <div class="right">
          <select [(ngModel)]="selectedVersion">
            <option value="v1">version 1</option>
            <option value="v2">version 2</option>
          </select>
          <input #numPlaylists type="text" value="50">
          <button (click)="getRecommendation(numPlaylists.value)">Recommendations</button>
        </div>
    </div>
    <div class="tables">
        <table class="content-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Track</th>
                <th>Artist</th>
                <th>Duration</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let track of tracks"
                    track-row
                    [track]="track"
                    [pos]="track.pos+1">
            </tbody>
          </table>
          <table class="content-table">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Track</th>
                  <th>Artist</th>
                  <th>Duration</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let track of recTracks; let i = index"
                    track-row
                    [track]="track"
                    [pos]="i+1">
            </tbody>
          </table>
    </div>
</div>