/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
}

* {
    font-family: sans-serif; /* Change your font family */
  }

  .content-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
  }
  
  .content-table thead tr {
    background-color:#282828;
    color: #c7c7c7;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 32px;
  }

  .content-table th:last-child,
  .content-table td:last-child {
      text-align: end;
  }
  
  .content-table tbody tr {
    color: #BEBCBC;
    font-weight: lighter;
  }
  
  .content-table tbody:nth-of-type(even) tr {
    background-color:#383838;
  }

  .content-table tbody tr:nth-of-type(even):hover {
    background-color: #4b4b4b;
  }

  .content-table tbody:nth-of-type(odd) tr {
    background-color: #323232;
  }

  .content-table tbody tr:nth-of-type(odd):hover{
    background-color: #4b4b4b;
  }